h1 {
     font-family: monospace;
     color: blue
     text-align: center;
     font-size: 80px
}
p {
    font-family: serif;
    text-align: left;
    margin-right: 80%
    font-size: 30px
    color: gray;
    background-color: lightgreen;
    margin-left: 5px
  }

#content {
           background-color: lightyellow
           width: 400px;
           min-height: 100px;
           padding: 300px;
           margin 10px;
           border: solid 3px #444444;
           font-size: 15px
}
